<h1>Login</h1>
<div class="card bg-danger text-white shadow" *ngIf="wrongRequest">
  <div class="card-body">
    Account or password is wrong!
  </div>
</div>
<form (ngSubmit)="login()" [formGroup]="form">
  <div class="form-group">
    <label for="username">Username: </label>
    <input name="username" class="form-control" formControlName="username" required autocomplete="username">
  </div>
  <div class="form-group">
    <label for="password">Password: </label>
    <input type="password" name="password" class="form-control" formControlName="password" required autocomplete="current-password">
  </div>
  <button class="btn btn-primary" type="submit">Login</button>
</form>
