<div class="container-fulid">
  <h1>{{problem.title}}</h1>
  <div class="card shadow mb-4">
    <div class="card-header py-3">Content</div>
    <div class="card-body">{{problem.content}}</div>
  </div>
  <div class="row">
    <div class="card shadow mb-4 col-lg-6">
      <div class="card-header py-3">The input</div>
      <div class="card-body">{{problem.theInput}}</div>
    </div>
    <div class="card shadow mb-4 col-lg-6">
      <div class="card-header py-3">The output</div>
      <div class="card-body">{{problem.theOutput}}</div>
    </div>
  </div>
  <div class="row">
    <div class="card shadow mb-4 col-lg-6">
      <div class="card-header py-3">Sample input</div>
      <div class="card-body">{{problem.sampleInput}}</div>
    </div>
    <div class="card shadow mb-4 col-lg-6">
      <div class="card-header py-3">Sample output</div>
      <div class="card-body">{{problem.sampleOutput}}</div>
    </div>
  </div>
  <div class="row">
    <div>Hint: {{problem.hint}}</div>
    <div>Referer: {{problem.referer}}</div>
    
  </div>
</div>